<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      
	<title>Dinamica Task Control - Dashboard</title>
</head>
<body class="blue-grey darken-3">
	<nav>
		<div class="nav-wrapper">
			<a href="#!" class="brand-logo">Logo</a>
			<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="materil-icons">menu</i></a>
			<ul class="right hide-on-med-and-down">
				<li><a href="#">Início</a></li>
				<li><a href="#">Obras</a></li>
				<li><a href="#">Notificações</a></li>
				<li><a href="#">Mensagens</a></li>
				<li><a href="#">Relatórios</a></li>
				<li><a href="#">Trocar Usuário</a></li>
			</ul>
		</div>
	</nav>
	<ul class="sidenav" id="mobile-demo">
		<li><a href="#">Início</a></li>
		<li><a href="#">Obras</a></li>
		<li><a href="#">Notificações</a></li>
		<li><a href="#">Mensagens</a></li>
		<li><a href="#">Relatórios</a></li>
		<li><a href="#">Trocar Usuário</a></li>
	</ul>



<body>
		document.addEventListener('DOMContentLoaded', function(){
	const elems = document.querySelectorAll('.sidenav');
	const instances = M.Sidenav.init(elems, options);
	});

		$(document).ready(function(){
	$('.sidenav').sidenav();
});
</html>